 
 <%= render 'home/header' %>
 <%= render 'home/sidebar'%>
    <div class="row">
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 pt-3 pb-3"> <a class="box-hov" href="reserve-now.html">
        <div class="card sh-car-cards border-0 pt-4">
          <div class="row pe-4 ">
            <div class="col-4">
              <p class="badge f-l-primary-regular bg-yellow no-bor-ft">Reserve Now</p>
            </div>
            <div class="col-8">
              <h1 class="f-m-3 text-end text-black">From <span class="f-m-1-title">$299</span> / mo</h1>
              <h3 class="f-m-3 text-end col-gray "> +10¢ / mi</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ps-7 pe-7 pt-3 pb-3"> <%= image_tag '2022-bolt-colorizer-2lt-gaz-01 3.png', class: 'img-fluid' %> </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 p-3">
              <p class=" mb-0 f-m-lable-medium col-call-to-action ">Like New </p>
              <h2 class="f-m-2-sub ">Model 3 Long Range </h2>
              <h3 class="f-m-lable-large-car pt-3">Tesla <span class="col-gray f-l-primary-regular ">|</span> 2021</h3>
            </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 col-md-12 col-xl-6 pb-3">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <path d="M24.8798 9.60928H22.856V7.76172C22.856 7.34099 22.5151 7 22.0943 7H17.9102C17.4895 7 17.1485 7.34099 17.1485 7.76172V9.60928H15.125C13.865 9.60928 12.8398 10.6344 12.8398 11.8944V30.7148C12.8398 31.9749 13.865 33 15.125 33H24.8798C26.1398 33 27.1649 31.9749 27.1649 30.7148V11.8944C27.1649 10.6344 26.1398 9.60928 24.8798 9.60928ZM25.6415 30.7148C25.6415 31.1348 25.2997 31.4766 24.8798 31.4766H15.125C14.7051 31.4766 14.3633 31.1348 14.3633 30.7148V11.8944C14.3633 11.4745 14.7051 11.1327 15.125 11.1327H24.8798C25.2997 11.1327 25.6415 11.4745 25.6415 11.8944V30.7148ZM18.672 8.52344H21.3326V9.60928H18.672V8.52344Z" fill="#87A1AE"/>
                  <path d="M23.4528 19.0717C23.3852 18.9494 23.2552 18.8732 23.114 18.8732H21.7136L22.3505 14.9409C22.3784 14.769 22.2844 14.6003 22.1224 14.5312C21.9604 14.4622 21.7714 14.5104 21.6636 14.6484L16.5802 21.1585C16.4904 21.2734 16.4748 21.4288 16.5396 21.5591C16.6045 21.6893 16.7389 21.7718 16.8859 21.7718H19.0941L17.6128 27.0169C17.5616 27.1983 17.6524 27.3895 17.8265 27.4666C17.8777 27.4892 17.9314 27.5 17.9844 27.5C18.1123 27.5 18.2361 27.4371 18.3092 27.3252L23.4387 19.4602C23.515 19.3431 23.5205 19.194 23.4528 19.0717V19.0717Z" fill="#80A2B0"/>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8 ps-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">200</span> miles</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Electric Range <span class="ps-1 tooltip-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Professionally detailed and mechanically certified"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.5899 11.0899 14.5 7.5 14.5C3.91015 14.5 1 11.5899 1 8C1 4.41015 3.91015 1.5 7.5 1.5C11.0899 1.5 14 4.41015 14 8ZM15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM8.51 6.58H6.61V12H8.51V6.58ZM6.72 5.69C6.93333 5.88333 7.21333 5.98 7.56 5.98C7.90667 5.98 8.18667 5.88333 8.4 5.69C8.61333 5.49 8.72 5.24 8.72 4.94C8.72 4.65333 8.61333 4.42 8.4 4.24C8.18667 4.05333 7.90667 3.96 7.56 3.96C7.21333 3.96 6.93333 4.05667 6.72 4.25C6.50667 4.44333 6.4 4.68333 6.4 4.97C6.4 5.25667 6.50667 5.49667 6.72 5.69Z" fill="#2E5261"/>
                    </svg></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 pb-4">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4  pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <g clip-path="url(#clip0_3566_37448)">
                    <path d="M32.8547 19.9571C32.8547 27.069 27.0685 32.8553 19.9571 32.8553C19.5284 32.8553 19.1806 32.5079 19.1806 32.0788V25.8282C16.2787 25.4457 14.029 22.962 14.029 19.9571C14.029 19.5279 14.3768 19.1806 14.8054 19.1806H16.3962V14.2748C16.3962 13.8457 16.744 13.4984 17.1726 13.4984C17.6012 13.4984 17.9491 13.8457 17.9491 14.2748V19.1806H21.9645V14.2748C21.9645 13.8457 22.3123 13.4984 22.741 13.4984C23.1696 13.4984 23.5174 13.8457 23.5174 14.2748V19.1806H25.1087C25.5373 19.1806 25.8851 19.5279 25.8851 19.9571C25.8851 22.962 23.6355 25.4457 20.7335 25.8282V31.2759C26.6285 30.8758 31.3018 25.9519 31.3018 19.9571C31.3018 13.7013 26.2128 8.61178 19.9571 8.61178C13.7013 8.61178 8.61178 13.7013 8.61178 19.9571C8.61178 22.3377 9.34063 24.6159 10.7191 26.5451C10.9681 26.894 10.8874 27.3791 10.5385 27.6281C10.189 27.8776 9.70453 27.7968 9.45503 27.4479C7.88811 25.2531 7.05884 22.6633 7.05884 19.9571C7.05884 12.8451 12.8451 7.05884 19.9571 7.05884C27.0685 7.05884 32.8547 12.8451 32.8547 19.9571Z" fill="#87A1AE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3566_37448">
                      <rect width="25.8824" height="25.8824" fill="white" transform="translate(7.05884 7.05884)"/>
                    </clipPath>
                  </defs>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8  ps-0 pe-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">+200</span> mi in <span class="f-l-primary-bold">35</span> min</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Max Charge Rate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 pt-3 pb-3"> <a class="box-hov" href="waitlist.html">
        <div class="card sh-car-cards border-0 pt-4 ">
          <div class="row pe-4 ">
            <div class="col-4">
              <p class="badge f-l-primary-regular bg-waitlist-gray no-bor-ft">Waitlist</p>
            </div>
            <div class="col-8">
              <h1 class="f-m-3 text-end text-black">From <span class="f-m-1-title">$299</span> / mo</h1>
              <h3 class="f-m-3 text-end col-gray "> +10¢ / mi</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ps-7 pe-7 pt-3 pb-3"> <%= image_tag '2022-bolt-colorizer-2lt-gaz-01 3.png', class: 'img-fluid' %> </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 p-3">
              <p class=" mb-0 f-m-lable-medium col-primary ">NEW </p>
              <h2 class="f-m-2-sub ">Bolt LT </h2>
              <h3 class="f-m-lable-large-car pt-3">Chevrolet <span class="col-gray f-l-primary-regular ">|</span> 2017</h3>
            </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 col-md-12 col-xl-6 pb-3">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <path d="M24.8798 9.60928H22.856V7.76172C22.856 7.34099 22.5151 7 22.0943 7H17.9102C17.4895 7 17.1485 7.34099 17.1485 7.76172V9.60928H15.125C13.865 9.60928 12.8398 10.6344 12.8398 11.8944V30.7148C12.8398 31.9749 13.865 33 15.125 33H24.8798C26.1398 33 27.1649 31.9749 27.1649 30.7148V11.8944C27.1649 10.6344 26.1398 9.60928 24.8798 9.60928ZM25.6415 30.7148C25.6415 31.1348 25.2997 31.4766 24.8798 31.4766H15.125C14.7051 31.4766 14.3633 31.1348 14.3633 30.7148V11.8944C14.3633 11.4745 14.7051 11.1327 15.125 11.1327H24.8798C25.2997 11.1327 25.6415 11.4745 25.6415 11.8944V30.7148ZM18.672 8.52344H21.3326V9.60928H18.672V8.52344Z" fill="#87A1AE"/>
                  <path d="M23.4528 19.0717C23.3852 18.9494 23.2552 18.8732 23.114 18.8732H21.7136L22.3505 14.9409C22.3784 14.769 22.2844 14.6003 22.1224 14.5312C21.9604 14.4622 21.7714 14.5104 21.6636 14.6484L16.5802 21.1585C16.4904 21.2734 16.4748 21.4288 16.5396 21.5591C16.6045 21.6893 16.7389 21.7718 16.8859 21.7718H19.0941L17.6128 27.0169C17.5616 27.1983 17.6524 27.3895 17.8265 27.4666C17.8777 27.4892 17.9314 27.5 17.9844 27.5C18.1123 27.5 18.2361 27.4371 18.3092 27.3252L23.4387 19.4602C23.515 19.3431 23.5205 19.194 23.4528 19.0717V19.0717Z" fill="#80A2B0"/>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8 ps-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">200</span> miles</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Electric Range <span class="ps-1 tooltip-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Professionally detailed and mechanically certified"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.5899 11.0899 14.5 7.5 14.5C3.91015 14.5 1 11.5899 1 8C1 4.41015 3.91015 1.5 7.5 1.5C11.0899 1.5 14 4.41015 14 8ZM15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM8.51 6.58H6.61V12H8.51V6.58ZM6.72 5.69C6.93333 5.88333 7.21333 5.98 7.56 5.98C7.90667 5.98 8.18667 5.88333 8.4 5.69C8.61333 5.49 8.72 5.24 8.72 4.94C8.72 4.65333 8.61333 4.42 8.4 4.24C8.18667 4.05333 7.90667 3.96 7.56 3.96C7.21333 3.96 6.93333 4.05667 6.72 4.25C6.50667 4.44333 6.4 4.68333 6.4 4.97C6.4 5.25667 6.50667 5.49667 6.72 5.69Z" fill="#2E5261"/>
                    </svg></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 pb-4">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4  pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <g clip-path="url(#clip0_3566_37448)">
                    <path d="M32.8547 19.9571C32.8547 27.069 27.0685 32.8553 19.9571 32.8553C19.5284 32.8553 19.1806 32.5079 19.1806 32.0788V25.8282C16.2787 25.4457 14.029 22.962 14.029 19.9571C14.029 19.5279 14.3768 19.1806 14.8054 19.1806H16.3962V14.2748C16.3962 13.8457 16.744 13.4984 17.1726 13.4984C17.6012 13.4984 17.9491 13.8457 17.9491 14.2748V19.1806H21.9645V14.2748C21.9645 13.8457 22.3123 13.4984 22.741 13.4984C23.1696 13.4984 23.5174 13.8457 23.5174 14.2748V19.1806H25.1087C25.5373 19.1806 25.8851 19.5279 25.8851 19.9571C25.8851 22.962 23.6355 25.4457 20.7335 25.8282V31.2759C26.6285 30.8758 31.3018 25.9519 31.3018 19.9571C31.3018 13.7013 26.2128 8.61178 19.9571 8.61178C13.7013 8.61178 8.61178 13.7013 8.61178 19.9571C8.61178 22.3377 9.34063 24.6159 10.7191 26.5451C10.9681 26.894 10.8874 27.3791 10.5385 27.6281C10.189 27.8776 9.70453 27.7968 9.45503 27.4479C7.88811 25.2531 7.05884 22.6633 7.05884 19.9571C7.05884 12.8451 12.8451 7.05884 19.9571 7.05884C27.0685 7.05884 32.8547 12.8451 32.8547 19.9571Z" fill="#87A1AE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3566_37448">
                      <rect width="25.8824" height="25.8824" fill="white" transform="translate(7.05884 7.05884)"/>
                    </clipPath>
                  </defs>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8  ps-0 pe-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">+200</span> mi in <span class="f-l-primary-bold">35</span> min</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Max Charge Rate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 pt-3 pb-3"> <a class="box-hov" href="available-now.html">
        <div class="card sh-car-cards border-0 pt-4">
          <div class="row pe-4 ">
            <div class="col-4">
              <p class="badge f-l-primary-regular bg-primary-flux no-bor-ft">Available Now </p>
            </div>
            <div class="col-8">
              <h1 class="f-m-3 text-end text-black">From <span class="f-m-1-title">$299</span> / mo</h1>
              <h3 class="f-m-3 text-end col-gray "> +10¢ / mi</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ps-7 pe-7 pt-3 pb-3"> <%= image_tag '2022-bolt-colorizer-2lt-gaz-01 3.png', class: 'img-fluid' %> </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 p-3">
              <p class=" mb-0 f-m-lable-medium col-primary ">NEW </p>
              <h2 class="f-m-2-sub  col-black">Bolt LT</h2>
              <h3 class="f-m-lable-large-car pt-3">Chevrolet <span class="col-gray f-l-primary-regular ">|</span> 2017</h3>
            </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 col-md-12 col-xl-6 pb-3">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <path d="M24.8798 9.60928H22.856V7.76172C22.856 7.34099 22.5151 7 22.0943 7H17.9102C17.4895 7 17.1485 7.34099 17.1485 7.76172V9.60928H15.125C13.865 9.60928 12.8398 10.6344 12.8398 11.8944V30.7148C12.8398 31.9749 13.865 33 15.125 33H24.8798C26.1398 33 27.1649 31.9749 27.1649 30.7148V11.8944C27.1649 10.6344 26.1398 9.60928 24.8798 9.60928ZM25.6415 30.7148C25.6415 31.1348 25.2997 31.4766 24.8798 31.4766H15.125C14.7051 31.4766 14.3633 31.1348 14.3633 30.7148V11.8944C14.3633 11.4745 14.7051 11.1327 15.125 11.1327H24.8798C25.2997 11.1327 25.6415 11.4745 25.6415 11.8944V30.7148ZM18.672 8.52344H21.3326V9.60928H18.672V8.52344Z" fill="#87A1AE"/>
                  <path d="M23.4528 19.0717C23.3852 18.9494 23.2552 18.8732 23.114 18.8732H21.7136L22.3505 14.9409C22.3784 14.769 22.2844 14.6003 22.1224 14.5312C21.9604 14.4622 21.7714 14.5104 21.6636 14.6484L16.5802 21.1585C16.4904 21.2734 16.4748 21.4288 16.5396 21.5591C16.6045 21.6893 16.7389 21.7718 16.8859 21.7718H19.0941L17.6128 27.0169C17.5616 27.1983 17.6524 27.3895 17.8265 27.4666C17.8777 27.4892 17.9314 27.5 17.9844 27.5C18.1123 27.5 18.2361 27.4371 18.3092 27.3252L23.4387 19.4602C23.515 19.3431 23.5205 19.194 23.4528 19.0717V19.0717Z" fill="#80A2B0"/>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8 ps-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">200</span> miles</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Electric Range <span class="ps-1 tooltip-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Professionally detailed and mechanically certified"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.5899 11.0899 14.5 7.5 14.5C3.91015 14.5 1 11.5899 1 8C1 4.41015 3.91015 1.5 7.5 1.5C11.0899 1.5 14 4.41015 14 8ZM15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM8.51 6.58H6.61V12H8.51V6.58ZM6.72 5.69C6.93333 5.88333 7.21333 5.98 7.56 5.98C7.90667 5.98 8.18667 5.88333 8.4 5.69C8.61333 5.49 8.72 5.24 8.72 4.94C8.72 4.65333 8.61333 4.42 8.4 4.24C8.18667 4.05333 7.90667 3.96 7.56 3.96C7.21333 3.96 6.93333 4.05667 6.72 4.25C6.50667 4.44333 6.4 4.68333 6.4 4.97C6.4 5.25667 6.50667 5.49667 6.72 5.69Z" fill="#2E5261"/>
                    </svg></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 pb-4">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4  pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <g clip-path="url(#clip0_3566_37448)">
                    <path d="M32.8547 19.9571C32.8547 27.069 27.0685 32.8553 19.9571 32.8553C19.5284 32.8553 19.1806 32.5079 19.1806 32.0788V25.8282C16.2787 25.4457 14.029 22.962 14.029 19.9571C14.029 19.5279 14.3768 19.1806 14.8054 19.1806H16.3962V14.2748C16.3962 13.8457 16.744 13.4984 17.1726 13.4984C17.6012 13.4984 17.9491 13.8457 17.9491 14.2748V19.1806H21.9645V14.2748C21.9645 13.8457 22.3123 13.4984 22.741 13.4984C23.1696 13.4984 23.5174 13.8457 23.5174 14.2748V19.1806H25.1087C25.5373 19.1806 25.8851 19.5279 25.8851 19.9571C25.8851 22.962 23.6355 25.4457 20.7335 25.8282V31.2759C26.6285 30.8758 31.3018 25.9519 31.3018 19.9571C31.3018 13.7013 26.2128 8.61178 19.9571 8.61178C13.7013 8.61178 8.61178 13.7013 8.61178 19.9571C8.61178 22.3377 9.34063 24.6159 10.7191 26.5451C10.9681 26.894 10.8874 27.3791 10.5385 27.6281C10.189 27.8776 9.70453 27.7968 9.45503 27.4479C7.88811 25.2531 7.05884 22.6633 7.05884 19.9571C7.05884 12.8451 12.8451 7.05884 19.9571 7.05884C27.0685 7.05884 32.8547 12.8451 32.8547 19.9571Z" fill="#87A1AE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3566_37448">
                      <rect width="25.8824" height="25.8824" fill="white" transform="translate(7.05884 7.05884)"/>
                    </clipPath>
                  </defs>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8  ps-0 pe-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">+200</span> mi in <span class="f-l-primary-bold">35</span> min</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Max Charge Rate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 pt-3 pb-3"> <a class="box-hov" href="reserve-now.html">
        <div class="card sh-car-cards border-0 pt-4">
          <div class="row pe-4 ">
            <div class="col-4">
              <p class="badge f-l-primary-regular bg-yellow no-bor-ft">Reserve Now</p>
            </div>
            <div class="col-8">
              <h1 class="f-m-3 text-end text-black">From <span class="f-m-1-title">$299</span> / mo</h1>
              <h3 class="f-m-3 text-end col-gray "> +10¢ / mi</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ps-7 pe-7 pt-3 pb-3"> <%= image_tag '2022-bolt-colorizer-2lt-gaz-01 3.png', class: 'img-fluid' %></div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 p-3">
              <p class=" mb-0 f-m-lable-medium col-call-to-action ">Like New </p>
              <h2 class="f-m-2-sub ">Model 3 Long Range </h2>
              <h3 class="f-m-lable-large-car pt-3">Tesla <span class="col-gray f-l-primary-regular ">|</span> 2021</h3>
            </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 col-md-12 col-xl-6 pb-3">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <path d="M24.8798 9.60928H22.856V7.76172C22.856 7.34099 22.5151 7 22.0943 7H17.9102C17.4895 7 17.1485 7.34099 17.1485 7.76172V9.60928H15.125C13.865 9.60928 12.8398 10.6344 12.8398 11.8944V30.7148C12.8398 31.9749 13.865 33 15.125 33H24.8798C26.1398 33 27.1649 31.9749 27.1649 30.7148V11.8944C27.1649 10.6344 26.1398 9.60928 24.8798 9.60928ZM25.6415 30.7148C25.6415 31.1348 25.2997 31.4766 24.8798 31.4766H15.125C14.7051 31.4766 14.3633 31.1348 14.3633 30.7148V11.8944C14.3633 11.4745 14.7051 11.1327 15.125 11.1327H24.8798C25.2997 11.1327 25.6415 11.4745 25.6415 11.8944V30.7148ZM18.672 8.52344H21.3326V9.60928H18.672V8.52344Z" fill="#87A1AE"/>
                  <path d="M23.4528 19.0717C23.3852 18.9494 23.2552 18.8732 23.114 18.8732H21.7136L22.3505 14.9409C22.3784 14.769 22.2844 14.6003 22.1224 14.5312C21.9604 14.4622 21.7714 14.5104 21.6636 14.6484L16.5802 21.1585C16.4904 21.2734 16.4748 21.4288 16.5396 21.5591C16.6045 21.6893 16.7389 21.7718 16.8859 21.7718H19.0941L17.6128 27.0169C17.5616 27.1983 17.6524 27.3895 17.8265 27.4666C17.8777 27.4892 17.9314 27.5 17.9844 27.5C18.1123 27.5 18.2361 27.4371 18.3092 27.3252L23.4387 19.4602C23.515 19.3431 23.5205 19.194 23.4528 19.0717V19.0717Z" fill="#80A2B0"/>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8 ps-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">200</span> miles</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Electric Range <span class="ps-1 tooltip-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Professionally detailed and mechanically certified"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.5899 11.0899 14.5 7.5 14.5C3.91015 14.5 1 11.5899 1 8C1 4.41015 3.91015 1.5 7.5 1.5C11.0899 1.5 14 4.41015 14 8ZM15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM8.51 6.58H6.61V12H8.51V6.58ZM6.72 5.69C6.93333 5.88333 7.21333 5.98 7.56 5.98C7.90667 5.98 8.18667 5.88333 8.4 5.69C8.61333 5.49 8.72 5.24 8.72 4.94C8.72 4.65333 8.61333 4.42 8.4 4.24C8.18667 4.05333 7.90667 3.96 7.56 3.96C7.21333 3.96 6.93333 4.05667 6.72 4.25C6.50667 4.44333 6.4 4.68333 6.4 4.97C6.4 5.25667 6.50667 5.49667 6.72 5.69Z" fill="#2E5261"/>
                    </svg></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 pb-4">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4  pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <g clip-path="url(#clip0_3566_37448)">
                    <path d="M32.8547 19.9571C32.8547 27.069 27.0685 32.8553 19.9571 32.8553C19.5284 32.8553 19.1806 32.5079 19.1806 32.0788V25.8282C16.2787 25.4457 14.029 22.962 14.029 19.9571C14.029 19.5279 14.3768 19.1806 14.8054 19.1806H16.3962V14.2748C16.3962 13.8457 16.744 13.4984 17.1726 13.4984C17.6012 13.4984 17.9491 13.8457 17.9491 14.2748V19.1806H21.9645V14.2748C21.9645 13.8457 22.3123 13.4984 22.741 13.4984C23.1696 13.4984 23.5174 13.8457 23.5174 14.2748V19.1806H25.1087C25.5373 19.1806 25.8851 19.5279 25.8851 19.9571C25.8851 22.962 23.6355 25.4457 20.7335 25.8282V31.2759C26.6285 30.8758 31.3018 25.9519 31.3018 19.9571C31.3018 13.7013 26.2128 8.61178 19.9571 8.61178C13.7013 8.61178 8.61178 13.7013 8.61178 19.9571C8.61178 22.3377 9.34063 24.6159 10.7191 26.5451C10.9681 26.894 10.8874 27.3791 10.5385 27.6281C10.189 27.8776 9.70453 27.7968 9.45503 27.4479C7.88811 25.2531 7.05884 22.6633 7.05884 19.9571C7.05884 12.8451 12.8451 7.05884 19.9571 7.05884C27.0685 7.05884 32.8547 12.8451 32.8547 19.9571Z" fill="#87A1AE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3566_37448">
                      <rect width="25.8824" height="25.8824" fill="white" transform="translate(7.05884 7.05884)"/>
                    </clipPath>
                  </defs>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8  ps-0 pe-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">+200</span> mi in <span class="f-l-primary-bold">35</span> min</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Max Charge Rate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 pt-3 pb-3"> <a class="box-hov" href="waitlist.html">
        <div class="card sh-car-cards border-0 pt-4 ">
          <div class="row pe-4 ">
            <div class="col-4">
              <p class="badge f-l-primary-regular bg-waitlist-gray no-bor-ft">Waitlist</p>
            </div>
            <div class="col-8">
              <h1 class="f-m-3 text-end text-black">From <span class="f-m-1-title">$299</span> / mo</h1>
              <h3 class="f-m-3 text-end col-gray "> +10¢ / mi</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ps-7 pe-7 pt-3 pb-3"> <%= image_tag '2022-bolt-colorizer-2lt-gaz-01 3.png', class: 'img-fluid' %> </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 p-3">
              <p class=" mb-0 f-m-lable-medium col-primary ">NEW </p>
              <h2 class="f-m-2-sub ">Bolt LT </h2>
              <h3 class="f-m-lable-large-car pt-3">Chevrolet <span class="col-gray f-l-primary-regular ">|</span> 2017</h3>
            </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 col-md-12 col-xl-6 pb-3">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <path d="M24.8798 9.60928H22.856V7.76172C22.856 7.34099 22.5151 7 22.0943 7H17.9102C17.4895 7 17.1485 7.34099 17.1485 7.76172V9.60928H15.125C13.865 9.60928 12.8398 10.6344 12.8398 11.8944V30.7148C12.8398 31.9749 13.865 33 15.125 33H24.8798C26.1398 33 27.1649 31.9749 27.1649 30.7148V11.8944C27.1649 10.6344 26.1398 9.60928 24.8798 9.60928ZM25.6415 30.7148C25.6415 31.1348 25.2997 31.4766 24.8798 31.4766H15.125C14.7051 31.4766 14.3633 31.1348 14.3633 30.7148V11.8944C14.3633 11.4745 14.7051 11.1327 15.125 11.1327H24.8798C25.2997 11.1327 25.6415 11.4745 25.6415 11.8944V30.7148ZM18.672 8.52344H21.3326V9.60928H18.672V8.52344Z" fill="#87A1AE"/>
                  <path d="M23.4528 19.0717C23.3852 18.9494 23.2552 18.8732 23.114 18.8732H21.7136L22.3505 14.9409C22.3784 14.769 22.2844 14.6003 22.1224 14.5312C21.9604 14.4622 21.7714 14.5104 21.6636 14.6484L16.5802 21.1585C16.4904 21.2734 16.4748 21.4288 16.5396 21.5591C16.6045 21.6893 16.7389 21.7718 16.8859 21.7718H19.0941L17.6128 27.0169C17.5616 27.1983 17.6524 27.3895 17.8265 27.4666C17.8777 27.4892 17.9314 27.5 17.9844 27.5C18.1123 27.5 18.2361 27.4371 18.3092 27.3252L23.4387 19.4602C23.515 19.3431 23.5205 19.194 23.4528 19.0717V19.0717Z" fill="#80A2B0"/>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8 ps-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">200</span> miles</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Electric Range <span class="ps-1 tooltip-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Professionally detailed and mechanically certified"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.5899 11.0899 14.5 7.5 14.5C3.91015 14.5 1 11.5899 1 8C1 4.41015 3.91015 1.5 7.5 1.5C11.0899 1.5 14 4.41015 14 8ZM15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM8.51 6.58H6.61V12H8.51V6.58ZM6.72 5.69C6.93333 5.88333 7.21333 5.98 7.56 5.98C7.90667 5.98 8.18667 5.88333 8.4 5.69C8.61333 5.49 8.72 5.24 8.72 4.94C8.72 4.65333 8.61333 4.42 8.4 4.24C8.18667 4.05333 7.90667 3.96 7.56 3.96C7.21333 3.96 6.93333 4.05667 6.72 4.25C6.50667 4.44333 6.4 4.68333 6.4 4.97C6.4 5.25667 6.50667 5.49667 6.72 5.69Z" fill="#2E5261"/>
                    </svg></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 pb-4">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4  pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <g clip-path="url(#clip0_3566_37448)">
                    <path d="M32.8547 19.9571C32.8547 27.069 27.0685 32.8553 19.9571 32.8553C19.5284 32.8553 19.1806 32.5079 19.1806 32.0788V25.8282C16.2787 25.4457 14.029 22.962 14.029 19.9571C14.029 19.5279 14.3768 19.1806 14.8054 19.1806H16.3962V14.2748C16.3962 13.8457 16.744 13.4984 17.1726 13.4984C17.6012 13.4984 17.9491 13.8457 17.9491 14.2748V19.1806H21.9645V14.2748C21.9645 13.8457 22.3123 13.4984 22.741 13.4984C23.1696 13.4984 23.5174 13.8457 23.5174 14.2748V19.1806H25.1087C25.5373 19.1806 25.8851 19.5279 25.8851 19.9571C25.8851 22.962 23.6355 25.4457 20.7335 25.8282V31.2759C26.6285 30.8758 31.3018 25.9519 31.3018 19.9571C31.3018 13.7013 26.2128 8.61178 19.9571 8.61178C13.7013 8.61178 8.61178 13.7013 8.61178 19.9571C8.61178 22.3377 9.34063 24.6159 10.7191 26.5451C10.9681 26.894 10.8874 27.3791 10.5385 27.6281C10.189 27.8776 9.70453 27.7968 9.45503 27.4479C7.88811 25.2531 7.05884 22.6633 7.05884 19.9571C7.05884 12.8451 12.8451 7.05884 19.9571 7.05884C27.0685 7.05884 32.8547 12.8451 32.8547 19.9571Z" fill="#87A1AE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3566_37448">
                      <rect width="25.8824" height="25.8824" fill="white" transform="translate(7.05884 7.05884)"/>
                    </clipPath>
                  </defs>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8  ps-0 pe-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">+200</span> mi in <span class="f-l-primary-bold">35</span> min</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Max Charge Rate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>
      <div class="col-12 col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 col-xxl-4 pt-3 pb-3"> <a class="box-hov" href="available-now.html">
        <div class="card sh-car-cards border-0 pt-4">
          <div class="row pe-4 ">
            <div class="col-4">
              <p class="badge f-l-primary-regular bg-primary-flux no-bor-ft">Available Now </p>
            </div>
            <div class="col-8">
              <h1 class="f-m-3 text-end text-black">From <span class="f-m-1-title">$299</span> / mo</h1>
              <h3 class="f-m-3 text-end col-gray "> +10¢ / mi</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-12 ps-7 pe-7 pt-3 pb-3"> <%= image_tag '2022-bolt-colorizer-2lt-gaz-01 3.png', class: 'img-fluid' %> </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 p-3">
              <p class=" mb-0 f-m-lable-medium col-primary ">NEW </p>
              <h2 class="f-m-2-sub  col-black">Bolt LT</h2>
              <h3 class="f-m-lable-large-car pt-3">Chevrolet <span class="col-gray f-l-primary-regular ">|</span> 2017</h3>
            </div>
          </div>
          <div class="row ps-4 pe-4">
            <div class="col-12 col-md-12 col-xl-6 pb-3">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4 pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <path d="M24.8798 9.60928H22.856V7.76172C22.856 7.34099 22.5151 7 22.0943 7H17.9102C17.4895 7 17.1485 7.34099 17.1485 7.76172V9.60928H15.125C13.865 9.60928 12.8398 10.6344 12.8398 11.8944V30.7148C12.8398 31.9749 13.865 33 15.125 33H24.8798C26.1398 33 27.1649 31.9749 27.1649 30.7148V11.8944C27.1649 10.6344 26.1398 9.60928 24.8798 9.60928ZM25.6415 30.7148C25.6415 31.1348 25.2997 31.4766 24.8798 31.4766H15.125C14.7051 31.4766 14.3633 31.1348 14.3633 30.7148V11.8944C14.3633 11.4745 14.7051 11.1327 15.125 11.1327H24.8798C25.2997 11.1327 25.6415 11.4745 25.6415 11.8944V30.7148ZM18.672 8.52344H21.3326V9.60928H18.672V8.52344Z" fill="#87A1AE"/>
                  <path d="M23.4528 19.0717C23.3852 18.9494 23.2552 18.8732 23.114 18.8732H21.7136L22.3505 14.9409C22.3784 14.769 22.2844 14.6003 22.1224 14.5312C21.9604 14.4622 21.7714 14.5104 21.6636 14.6484L16.5802 21.1585C16.4904 21.2734 16.4748 21.4288 16.5396 21.5591C16.6045 21.6893 16.7389 21.7718 16.8859 21.7718H19.0941L17.6128 27.0169C17.5616 27.1983 17.6524 27.3895 17.8265 27.4666C17.8777 27.4892 17.9314 27.5 17.9844 27.5C18.1123 27.5 18.2361 27.4371 18.3092 27.3252L23.4387 19.4602C23.515 19.3431 23.5205 19.194 23.4528 19.0717V19.0717Z" fill="#80A2B0"/>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8 ps-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">200</span> miles</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Electric Range <span class="ps-1 tooltip-link" data-bs-toggle="tooltip" title="" data-bs-original-title="Professionally detailed and mechanically certified"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="16" viewBox="0 0 15 16" fill="none">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14 8C14 11.5899 11.0899 14.5 7.5 14.5C3.91015 14.5 1 11.5899 1 8C1 4.41015 3.91015 1.5 7.5 1.5C11.0899 1.5 14 4.41015 14 8ZM15 8C15 12.1421 11.6421 15.5 7.5 15.5C3.35786 15.5 0 12.1421 0 8C0 3.85786 3.35786 0.5 7.5 0.5C11.6421 0.5 15 3.85786 15 8ZM8.51 6.58H6.61V12H8.51V6.58ZM6.72 5.69C6.93333 5.88333 7.21333 5.98 7.56 5.98C7.90667 5.98 8.18667 5.88333 8.4 5.69C8.61333 5.49 8.72 5.24 8.72 4.94C8.72 4.65333 8.61333 4.42 8.4 4.24C8.18667 4.05333 7.90667 3.96 7.56 3.96C7.21333 3.96 6.93333 4.05667 6.72 4.25C6.50667 4.44333 6.4 4.68333 6.4 4.97C6.4 5.25667 6.50667 5.49667 6.72 5.69Z" fill="#2E5261"/>
                    </svg></span></p>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-12 col-xl-6 pb-4">
              <div class="row">
                <div class="col-3 col-md-3 col-xl-4  pt-1"> <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 40 40" fill="none">
                  <rect width="40" height="40" rx="7" fill="#EDF3F6"/>
                  <g clip-path="url(#clip0_3566_37448)">
                    <path d="M32.8547 19.9571C32.8547 27.069 27.0685 32.8553 19.9571 32.8553C19.5284 32.8553 19.1806 32.5079 19.1806 32.0788V25.8282C16.2787 25.4457 14.029 22.962 14.029 19.9571C14.029 19.5279 14.3768 19.1806 14.8054 19.1806H16.3962V14.2748C16.3962 13.8457 16.744 13.4984 17.1726 13.4984C17.6012 13.4984 17.9491 13.8457 17.9491 14.2748V19.1806H21.9645V14.2748C21.9645 13.8457 22.3123 13.4984 22.741 13.4984C23.1696 13.4984 23.5174 13.8457 23.5174 14.2748V19.1806H25.1087C25.5373 19.1806 25.8851 19.5279 25.8851 19.9571C25.8851 22.962 23.6355 25.4457 20.7335 25.8282V31.2759C26.6285 30.8758 31.3018 25.9519 31.3018 19.9571C31.3018 13.7013 26.2128 8.61178 19.9571 8.61178C13.7013 8.61178 8.61178 13.7013 8.61178 19.9571C8.61178 22.3377 9.34063 24.6159 10.7191 26.5451C10.9681 26.894 10.8874 27.3791 10.5385 27.6281C10.189 27.8776 9.70453 27.7968 9.45503 27.4479C7.88811 25.2531 7.05884 22.6633 7.05884 19.9571C7.05884 12.8451 12.8451 7.05884 19.9571 7.05884C27.0685 7.05884 32.8547 12.8451 32.8547 19.9571Z" fill="#87A1AE"/>
                  </g>
                  <defs>
                    <clipPath id="clip0_3566_37448">
                      <rect width="25.8824" height="25.8824" fill="white" transform="translate(7.05884 7.05884)"/>
                    </clipPath>
                  </defs>
                  </svg> </div>
                <div class="col-9 col-md-9 col-xl-8  ps-0 pe-0">
                  <p class=" f-l-primary-regular col-miles mb-0 "><span class="f-l-primary-bold">+200</span> mi in <span class="f-l-primary-bold">35</span> min</p>
                  <p class=" f-l-primary-regular col-miles mb-0 ">Max Charge Rate</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        </a> </div>

    </div>
  </div>
</div>
</div>
</section>

<script>
function w3_open() {
document.getElementById("mySidebar").style.display = "block";
document.getElementById("myOverlay").style.display = "block";
}

function w3_close() {
document.getElementById("mySidebar").style.display = "none";
document.getElementById("myOverlay").style.display = "none";
}
</script>
<!-- JavaScript  --> 
<script>
// Initialize tooltips
var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
return new bootstrap.Tooltip(tooltipTriggerEl)
})
</script>
</body>
</html>